a,
p,
li {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

header,
footer {
  background-color: #42145f;
  padding: 10px;
  color: #fff;
  text-align: center;
}

main {
  background-color: #ccc;
  text-align: center;
  padding-bottom: 50px;
}

.services {
  text-align: center;
  align-items: center;
}

.services ul {
  list-style-type: none;
}

footer {
  align-items: center;
}
